<h1 style="text-align:right;font-size:30pt;margin:0px 20px;">
    <!-- コントローラ名を取り出す -->
	title:<?= $this->fetch('title') ?>.
</h1>
<h2 style="text-align:right;font-size:16pt;margin:0px 20px;color:#ccf;">
	~ <?= $subtitle ?> ~
</h2>
